/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-text-weight);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 100px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.container {
  width: var(--block-width);
  margin: 0 auto;
}

.header {
  font-family: var(--accent-font), monospace;
  background-color: var(--main-color);
  padding-block: clamp(122px, 119.18px + 0.7512vw, 130px);
  padding-inline: clamp(16px, -21.5px + 10vw, 122.5px);
  border: var(--main-border);
  margin-block-end: 95px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  padding-block-start: 20px;
  text-transform: uppercase;
}

.card {
  background-color: var(--main-color);
  font-size: var(--main-font-size);
  border: var(--main-border);
}

.card__title {
  font-variation-settings: 'wght' var(--main-font-title-weight);
  padding: 4px 10px;
  font-size: var(--main-font-size);
}

.card__image-container {
  position: relative;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__image-watermark {
  font-family: var(--accent-font), monospace;
  font-size: var(--accent-font-size-watermark);
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:  
  -1px 0 var(--main-color), 
  0 1px var(--main-color), 
  1px 0 var(--main-color), 
  0 -1px var(--main-color);
  -webkit-text-stroke: 1px var(--main-color);
}

@supports((text-stroke: 1px var(--main-color)) or (-webkit-text-stroke: 1px var(--main-color))) {
  .card__image-watermark {
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px var(--main-color);
    text-shadow: none;
  }
}

.button {
  position: relative;
  font-family: var(--accent-font), monospace;
  font-size: var(--acent-font-size-button);
  background-color: var(--main-color);
  color: var(--main-color);
  border: var(--main-border);
  transition: box-shadow .3s ease;
  overflow: hidden;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::after {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  inset: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 21px 25px 0;
}

.card__button-container {
  display: flex;
  justify-content: end;
  padding: 24px 25px 25px 25px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  height: 39px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  padding: 10.5px 35px;
  height: 100%;
}

.save__button-container {
  display: flex;
  justify-content: center;
}

.save__button {
  padding: 15px 17px;
  height: 100%;
}

.save__button-image {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.popup {
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  inline-size: clamp(21.3125rem, 21.0477rem + 1.13vw, 22.0625rem);
  display: none;
}

.popup[open] {
  display: flex;
}

.popup::backdrop {
  background-color: var(--accent-color);
  opacity: 75%;
}

.popup__container {
  display: flex;
  gap: 20px;
}

.popup__text {
  font-family: var(--accent-font), monospace;
  line-height: 150%;
  text-transform: uppercase;
  font-size: var(--acent-font-size-button);
}

.popup-image {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
  align-self: center;
}

.popup__button {
  padding: 12.5px 132.5px;
  text-transform: uppercase;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparkle .3s ease-in .2s;
}

.contour {
  transition: fill .1s linear;
}

.main-body {
  transition: fill .3s linear .03s;
}

.core {
  transition: fill .3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: .3s linear 0;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill .3s linear .05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: .3s linear 0;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill .3s linear .05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: .3s linear 0;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill .3s linear .05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: .3s linear .06s;
}

.like-icon.is-liked {
  animation: heart-scale .3s ease-in .1s;
}

.like-icon {
  transform-origin: center;
}

.save__button-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card__image-1 {
  filter: sepia(34%) hue-rotate(250deg);
}

.card__image-2 {
  filter: invert(70%) saturate(490%);
}

.card__image-3 {
  filter: hue-rotate(-50deg);
}

.card__image-4 {
  filter: sepia(1) hue-rotate(-50deg) saturate(2);
}

.card__image-5 {
  filter: hue-rotate(0.5turn);
}

.card__image-6 {
  filter: sepia(0.6);
}

.card__image-7 {
  filter: invert(90%);
}

.card__image-8 {
  filter: grayscale(100%);
}

@media (width <= 375px) {
  .save__button {
    display: flex;
    padding: 12px 18px;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .header {
    margin-block-end: 100px;
  }

  .card__title {
    padding: 0px 10px 8px;
  }

  .save__button-image {
    inline-size: 28px;
    block-size: 28px;
  }

  .card__button-container {
    padding: 25px;
  }

  .content {
    gap: 52px;
  }
}