/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin: 0;
  padding: 100px 0;
  font-family: var(--main-font), sans-serif;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-text-weight);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.container {
  width: var(--block-width);
  margin: 0 auto;
}

.header {
  margin-block-end: 95px;
  border: var(--main-border);
  padding-inline: clamp(16px, -21.5px + 10vw, 122.5px);
  padding-block: clamp(122px, 119.18px + 0.7512vw, 130px);
  font-family: var(--accent-font), fantasy;
  background-color: var(--main-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  padding-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.card {
  border: var(--main-border);
  font-size: var(--main-font-size);
  background-color: var(--main-color);
}

.card__title {
  padding: 4px 10px;
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--main-font-title-weight);
}

.card__image-container {
  position: relative;
  border-block-start: var(--main-border);
  border-block-end: var(--main-border);
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
}

.card__image-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size-watermark);
  text-shadow: -1px 0 var(--main-color), 0 1px var(--main-color),
    1px 0 var(--main-color), 0 -1px var(--main-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--main-color)) or
    (-webkit-text-stroke: 1px var(--main-color))
) {
  .card__image-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px var(--main-color);
  }
}

.button {
  position: relative;
  border: var(--main-border);
  overflow: hidden;
  color: var(--main-color);
  font-family: var(--accent-font), fantasy;
  font-size: var(--acent-font-size-button);
  background-color: var(--main-color);
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  line-height: 90%;
  mix-blend-mode: difference;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 21px 25px 0;
}

.card__text {
  line-height: 21px;
}

.card__button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  padding: 24px 25px 25px 25px;
}

.card__icon-button {
  width: 39px;
  height: 34.8px;
  border: none;
  padding: 0;
  outline: 2px solid transparent;
  background-color: transparent;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  outline-color: var(--accent-color);
}

.card__like-button {
  height: 100%;
  padding: 10.5px 35px;
}

.save__button-container {
  display: flex;
  justify-content: center;
}

.save__button {
  height: 100%;
  padding: 15px 17px;
}

.save__button-image {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.popup {
  display: none;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  inline-size: clamp(21.3125rem, 21.0477rem + 1.13vw, 22.0625rem);
}

.popup[open] {
  display: flex;
}

.popup::backdrop {
  opacity: 75%;
  background-color: var(--accent-color);
}

.popup__container {
  display: flex;
  gap: 20px;
}

.popup__text {
  font-family: var(--accent-font), fantasy;
  font-size: var(--acent-font-size-button);
  line-height: 150%;
  text-transform: uppercase;
}

.popup-image {
  flex-shrink: 0;
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.popup__button {
  padding: 12.5px 132.5px;
  text-transform: uppercase;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.3s ease-in 0.2s;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear 0.03s;
}

.core {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: 0.3s linear 0;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon {
  margin: 0 auto;
  transform-origin: center;
}

.save__button-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card__image-brightness {
  filter: brightness(0.4);
}

.card__image-saturate {
  filter: saturate(490%);
}

.card__image-contrast {
  filter: contrast(200%);
}

.card__image-multiple {
  filter: sepia(1) hue-rotate(-50deg) saturate(2);
}

.card__image-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.card__image-sepia {
  filter: sepia(0.6);
}

.card__image-invert {
  filter: invert(90%);
}

.card__image-grayscale {
  filter: grayscale(100%);
}

@media (width <= 375px) {
  .save__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
  }

  .header {
    margin-block-end: 100px;
  }

  .card__title {
    padding: 0px 10px 8px;
  }

  .save__button-image {
    inline-size: 28px;
    block-size: 28px;
  }

  .card__button-container {
    padding: 25px;
  }

  .content {
    gap: 52px;
  }

  .popup {
    padding: 27px;
  }

  .popup__button {
    align-self: center;
    width: 261px;
    height: 38px;
    padding: 10.5px 2.5px;
  }

  .popup__container {
    gap: 20px;
  }

  .popup-image {
    margin-left: 8px;
  }
}
