/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --main-font-text-weight: 410;
  --main-font-title-weight: 715;
  --main-font-size: 18px;
  --accent-font-size-watermark: 14px;
  --acent-font-size-button: 14px;
  --accent-font: 'PressStart2P-Regular';
  --cover-image: 
  repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
  linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-width: clamp(375px, 260.565px + 30.516vw, 700px);
  --main-border: 2px solid black;
  --animation-contour-color: black;
  --animation-fill-color: red;
  --animation-sparkle-color: red;
}
